body {
  background-image: url(https://github.com/Dorekdoky/Boda/blob/main/Imagenes/bda.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Para que el fondo se quede fijo al hacer scroll */
}
